@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800&display=swap");
:root {
  --section-gap: 2rem;
  --content-width: 1250px;
  --column-gap: 2rem;
}

* {
  box-sizing: border-box;
  font-size: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #1d1f4f;
  font-size: 1.3rem;
  font-weight: 400;
}

a {
  color: inherit;
}

nav {
  margin-top: 1rem;
  z-index: 1;
  position: relative;
  justify-content: space-between;
}

article {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  gap: var(--section-gap);
}

footer {
  background-color: lightcyan;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
  font-weight: 800;
}

h3 {
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.tech-grid .card {
  max-height: 8rem;
}

.section-support {
  position: relative;
}
.section-support::after {
  content: "";
  position: absolute;
  background-image: url("../images/swiss_flag.png");
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: -20rem 0rem;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.section-support .support-text {
  background-color: #1d1f4f;
  color: #fff;
  border-radius: 2rem;
}

.section-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-introduction .deploio-logo {
  margin-top: -10rem;
  width: 1600px;
  max-width: 100vw;
  max-height: 100vh;
}
.section-introduction .swiss-logo {
  max-height: 10rem;
}
.section-introduction h1 {
  margin-bottom: 1rem;
}

.section-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.section-support {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.seo {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
}

.list li {
  border-bottom: 0.2rem solid #1d1f4f;
  margin-bottom: 3rem;
}
.list li:first-child h3 {
  margin-top: 0;
}
.list li h3 {
  margin-bottom: 0;
}

footer {
  font-size: 1.2rem;
  line-height: 2;
}
footer .columns {
  gap: 0;
}
footer a, footer h3, footer li {
  color: rgb(196, 195, 195) !important;
}
footer a:hover {
  color: #fff !important;
  text-decoration: underline;
}
footer h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #fff;
}
footer img {
  max-width: 100%;
  margin: 0.5rem;
}
footer img.footer-certificate {
  display: inline-block;
  max-width: 5rem;
  min-width: 5rem;
}
footer img.swiss-hosting {
  height: 5rem;
}

.line-height-1 {
  line-height: 1.5;
}

.footer-top a:hover {
  font-weight: 700;
}
.footer-bottom {
  padding: 2rem;
}

.section-certificate {
  position: relative;
  overflow-x: visible;
}
.section-certificate .hosted-on-deploio-logo {
  position: absolute;
  top: -29rem;
  left: 10rem;
  width: 1378px;
  max-width: 100vw !important;
}

.certificate {
  border-top-left-radius: 7rem;
  border-bottom-left-radius: 7rem;
  padding: 2rem;
  gap: 0 !important;
  width: 100vw;
}
.certificate-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: calc(-1 * var(--section-gap));
}
.certificate img {
  max-height: 5rem;
}
.certificate > p.column {
  max-width: 600px;
}

/* src: oliver */
form {
  margin-top: 16px;
  width: 50%;
  display: flex;
  gap: 1rem;
}
form input[type=email] {
  border: 0.1rem solid #ccc;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 1rem 2rem;
}
form button {
  border: none;
  cursor: pointer;
}

#thank-you-message {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
}

/* src: oliver */
.section-comparison {
  display: flex;
  overflow-x: auto;
}

table.comparison {
  flex-grow: 1;
  border-collapse: collapse;
}
table.comparison .table-logo {
  max-height: 5rem;
}
table.comparison th {
  color: #fff;
}
table.comparison thead {
  color: #1d1f4f;
}
table.comparison tbody th {
  background-color: #1d1f4f;
}
table.comparison tbody td, table.comparison tbody th {
  text-align: center;
  width: 20%;
  padding: 1rem 2rem;
  font-weight: 400;
  border: 2px solid #1d1f4f;
}
table.comparison .check::after {
  content: "";
  display: block;
  background-image: url("../images/circle-check-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 2rem;
  aspect-ratio: 1;
}

.card {
  background-color: #1d1f4f;
  color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color, 0.2s;
}
.card:hover {
  background-color: #0f1326;
}
.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: var(--column-gap);
}
.columns > .column {
  flex: 1;
  padding: 0 1rem;
  max-width: 50%;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-dim {
  color: rgb(196, 195, 195) !important;
}

.reduced-width {
  min-width: min(100%, var(--content-width));
  max-width: var(--content-width);
  padding: 1rem;
  margin: auto auto;
}
.reduced-width img {
  max-width: 100%;
}

.bg-primary {
  background-color: #1d1f4f;
  color: #fff;
}
.bg-primary a {
  color: #fff;
}

.bg-secondary {
  background-color: #0f1326;
  color: #fff;
}
.bg-secondary a {
  color: #fff;
}

.bg-gradient {
  background: linear-gradient(90deg, #cbfeda 0%, #97bdfd 100%);
  color: #1d1f4f;
}

.btn {
  border-radius: 5rem;
  padding: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  font-weight: 700;
}
.btn-secondary {
  border: 0.2rem solid #1d1f4f;
  color: #1d1f4f;
  transition: background-color, 0.2s;
}
.btn-secondary:hover {
  background-color: #1d1f4f;
  color: #fff;
}
.btn-sm.btn {
  padding: 0.3rem 1rem;
  font-weight: normal;
}
.btn-lg.btn {
  padding: 1rem 4rem;
}

.video {
  aspect-ratio: 16/9;
  width: 800px;
}

.language-toggle {
  border-radius: 10rem;
  margin-top: 1rem;
  width: max-content;
  border: 0.2rem solid #1d1f4f;
  display: inline-block;
}
.language-toggle a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
  text-transform: uppercase;
  text-decoration: none;
}
.language-toggle a.active {
  background-color: #1d1f4f;
  color: #fff;
}

@media (max-width: 800px) {
  :root {
    --content-width: 100%;
    --column-gap: 1rem;
    --section-gap: 0rem;
  }
  .column {
    max-width: 100% !important;
  }
  .video {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  .columns:not(.keep-columns) {
    flex-direction: column;
  }
  .section-introduction .deploio-logo {
    margin: -11rem 0 0;
    min-height: 20rem;
    object-fit: cover;
  }
  .btn {
    font-size: 1rem;
  }
  .hosted-on-deploio-logo {
    margin-top: -26rem !important;
    margin-left: 15rem;
    height: 50rem;
  }
  .hosted-on-deploio-logo-wrapper {
    height: 12rem;
  }
  .section-support .support-text {
    background: white;
    color: #1d1f4f;
    border-radius: 0;
  }
  .section-certificate .certificate {
    margin-left: -2rem;
    border-radius: 0;
    padding: 1rem;
  }
  .section-certificate .hosted-on-deploio-logo {
    position: static;
    margin-bottom: 2rem;
    margin-top: -1rem;
  }
  .discover-more {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  section.section-support {
    padding: 0;
  }
  section.section-support .columns {
    padding: 0;
  }
  section.section-support::after {
    background-size: 250%;
    opacity: 0.5;
    background-position: -1rem 0;
  }
  footer {
    line-height: 1;
  }
  footer li {
    padding: 0.4rem 0;
  }
  footer .columns {
    display: flex;
    align-items: center;
    text-align: center;
  }
  footer .footer-certifications ul,
  footer .footer-socials ul,
  footer .footer-providers ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  footer .footer-providers ul {
    flex-direction: row;
  }
  footer .footer-providers ul img {
    max-height: 3rem;
  }
  footer .footer-bottom .copyright {
    margin-bottom: 1rem;
  }
}
